<header>
    <nav class="header-nav">
        <a class="header-title" href="/">LanLadder</a>
        
        <!-- <ul>
            <li class="header-link">Profile</li>
            <li class="header-link">Log Out</li>
        </ul> -->
    </nav>
</header>
