<table>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Character</th>
        <th>ELO</th>
    </tr>

    <tr>
        <td>1</td>
        <td>coffee</td>
        <td>Peach</td>
        <td>2400</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Killablue</td>
        <td>Falco</td>
        <td>2270</td>
    </tr>

    <tr>
        <td>3</td>
        <td>SnacklePackle</td>
        <td>Captain Falcon</td>
        <td>2120</td>
    </tr>

    <tr>
        <td>4</td>
        <td>Mulan</td>
        <td>Marth</td>
        <td>2089</td>
    </tr>

    <tr>
        <td>50</td>
        <td>Afolabi</td>
        <td>Samus</td>
        <td>9999</td>
    </tr>
</table>

<hr/>
