<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>LanLadder</title>
</head>
<script defer src="javascripts/index.js"></script>
<div class="container">
    <body onload="ladder()">
        <%- include("../partials/header.ejs") %>
        <!-- <%- include("../partials/errorMessage.ejs") %> -->
        <%- body %>
        <!-- <%- include("../partials/ladder.ejs") %> -->
    </body>
</div>
</html>