<% try{ %>
    <%= username %>
    <% } catch {%>
<% } %>
    


<button>Sign up</button>

<form action="/register" method="POST">
    <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required= true value="<%= locals.user.username %>">           
    <!-- value="< %= user.username %>" -->
    </div>

    <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    </div>

    <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email">
    </div>

    <button>Cancel</button>
    <button type="submit">Create account</button>
</form>

<button>Log in</button>

<% if (messages.error) { %>
    <%= messages.error %>
<% } %> 

<form action="/login" method="POST">
    <div>
    <label for="loginUsername">Username</label>
    <input type="text" id="loginUsername" name="loginUsername">
    </div>

    <div>
    <label for="loginPassword">Password</label>
    <input type="text" id="loginPassword" name="loginPassword">
    </div>

    <button>Cancel</button>
    <button type="submit">Log in</button>
</form>

<form action="/queue", method="POST">
    <button type="submit">Queue </button>
</form>

<form action="/logout?_method=delete" method="POST">
    <button type="submit">Log out</button>
</form>

<hr/>

<table>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Character</th>
        <th>ELO</th>
    </tr>

    <tr>
        <td>1</td>
        <td>coffee</td>
        <td>Peach</td>
        <td>2400</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Killablue</td>
        <td>Falco</td>
        <td>2270</td>
    </tr>

    <tr>
        <td>3</td>
        <td>SnacklePackle</td>
        <td>Captain Falcon</td>
        <td>2120</td>
    </tr>

    <tr>
        <td>4</td>
        <td>Mulan</td>
        <td>Marth</td>
        <td>2089</td>
    </tr>

    <tr>
        <td>50</td>
        <td>Afolabi</td>
        <td>Samus</td>
        <td>9999</td>
    </tr>
</table>