
<% try{ %>
    <%= user.username %>
    <% } catch {%>
<% } %>
<script defer src="javascripts/index.js"></script>
<script defer src="javascripts/inQueue.js"> console.log("hi")</script>
<!-- <script >
    console.log("logged in: " + locals.loggedIn)
    if(locals.loggedIn){
        // toggleHidden("logged-in", "logged-out")
    }
</script> -->


<div class="buttons-div logged-in">

    <p id="message"></p>
    <button class="btn btn-queue" id="queue-btn" onclick="queue('queue-btn');" disabled>
        FINDING OPPONENT <div class="loader"></div></button>

    <form class = "btn" action="/logout?_method=delete" method="POST">
        <button class="btn btn-danger" type="submit">Log out</button>
    </form>
</div>

<script> document.addEventListener("DOMContentLoaded", function(event) { console.log("test") })</script>

<div class="hidden buttons-div logged-out">
    <button onclick="toggleHidden('signUpForm')">Sign up</button>
    
    <form id="signUpForm" class="hidden account-form" action="/register" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required= true>           
            <!-- value="< %= user.username %>" -->
        </div>
        
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
        </div>
        
        <button type="submit">Create account</button>
    </form>
    
    <button onclick="toggleHidden('logInForm')">Log in</button>
    
    <% if (messages.error) { %>
        <%= messages.error %>
        <% } %> 
        
    <form id="logInForm" class="hidden account-form" action="/login" method="POST">
        <div>
            <label for="loginUsername">Username</label>
            <input type="text" id="loginUsername" name="loginUsername">
        </div>
        
        <div>
            <label for="loginPassword">Password</label>
            <input type="password" id="loginPassword" name="loginPassword">
        </div>
        
        <button type="submit">Log in</button>
    </form>
    
    <form action="/queue", method="GET">
        <button type="submit">Queue </button>
    </form>
    

    <br>
    <button disabled>AJAX QUEUE</button>
</div>
<hr/>