@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/hearder.css';
@import 'shared/buttons.css';

:root {
    font-family: 'Press Start 2P' ;
    font-size: 15px;
    color : var(--color-text-light)
}

/* body {
    background-image: url("../../images/background_colorful.jfif"); /* _colorful
} */

body {
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
  }

.buttons-div {
    background-color: var(--color-background-dark);
    width: 400px; height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}
  
.inner-container {
    margin: 0 2rem;
}

/* .account-form {
    display: none;
} */

/* .logged-in {
    display: none;
} */

.hidden { display: none }

.loader {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }